<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 bg-gray-50">
    <h1>Content</h1>
    <div class="px-4 py-6 sm:px-0">

        <div class=" h-screen">
            Sorry, no content
        </div>
    </div>

</div>