{% extends "base.twig" %}
{% block content %}
    <section class="text-gray-600 body-font bg-gray-100">
        <div class="container px-5 mx-auto ">
           
            <div class="pt-12 pb-24 flex flex-wrap">
                <h1 class="md:text-5xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5">
                    Teacher
                    Resources
                </h1>
                <div class="md:w-3/5 md:pl-6">
                    <p class="leading-relaxed text-base">The ACTF produces high-quality educational resources that are
                        aligned to the learning areas, cross-curricular priorities and general capabilities in the
                        Australian Curriculum. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="text-gray-600 body-font ">
        <div class="container mx-auto flex flex-wrap">

            <main class="flex-1">
                {% for post in posts %}
                <section class="text-gray-600 body-font overflow-hidden">
                    <div class="container px-5 py-4 ">
                        <div class="flex flex-wrap">
                            <div class="lg:w-1/6 mt-6 ">
                                <img alt="ecommerce" class=" w-full h-auto  object-cover object-center rounded" src="{{ post.image }}">
                            </div>
                            <div class="lg:w-5/6 w-full lg:pl-10 lg:py-6 lg:mt-0">
                                <h2 class="text-sm title-font text-gray-500 tracking-widest">{{ post.category}}
                                </h2>
                                <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
                                    {{ post.title}}
                                </h1>
                            <div class="synopsis max-w-5xl">
                                <p class="leading-relaxed">{{ post.synopsis }}</p>
                                <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
                                         <span>
                                            <a href="/education/teaching-resources/studyguide" class="flex ml-auto btn btn-secondary">Read More</a>
                                            <a href="#" class="flex ml-auto btn btn-secondary">Download</a>
                                        </span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
            </main>


            <aside class="h-screen sticky top-0 w-64 lg:w-1/4">
                {% include "_partials/searchwidget.twig" %}
            </aside>

        </div>
    </section>
{% endblock %}