<div id="services" class="relative">
    <img src="/images/circle.svg" class="absolute top-0 right-0 mt-64 hidden md:block">
    <div class="container mx-auto px-6 py-32 relative">

        <div class="js-show-on-scroll flex flex-col md:flex-row items-center mb-24 md:mb-16 xl:mb-8 mt-16 md:mt-0 md:mt-16 lg:mt-0">
            <!-- <img src="/images/placeholder/undraw_junior_soccer_6sop.svg" class="md:w-1/3">-->
            <div class="md:w-1/3">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <script src="https://unpkg.com/@lottiefiles/lottie-interactivity@latest/dist/lottie-interactivity.min.js"></script>
                <lottie-player id="lottieAnim" src="https://assets8.lottiefiles.com/packages/lf20_tr1pjkop.json"  class="w-full h-full"></lottie-player>

                <script>

                </script>
            </div>
            <div class="md:ml-16 xl:ml-32">
                <h4 class="text-2xl md:text-3xl font-bold text-secondary-800 mb-4">Lorem ipsum dolor sit amet</h4>
                <p class="text-secondary-700 text-lg mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam imperdiet est tellus, et consequat sem sodales id. Quisque molestie et mauris efficitur lacinia.</p>
                <p class="text-secondary-700 text-lg">Aliquam eget semper mi. Mauris magna risus, viverra in nulla id, placerat fermentum tellus. Aliquam non felis eu dui fermentum auctor. Aenean sed ante congue, facilisis ipsum eu, gravida lacus.</p>
            </div>
        </div>
        <div class="js-show-on-scroll flex flex-col-reverse md:flex-row items-center mb-24 md:mb-16 xl:mb-8">
            <div class="md:mr-16 xl:mr-32">
                <h4 class="text-2xl md:text-3xl font-bold text-secondary-800 mb-4">Nam imperdiet est tellus</h4>
                <p class="text-secondary-700 text-lg mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam imperdiet est tellus, et consequat sem sodales id. Quisque molestie et mauris efficitur lacinia.</p>
                <p class="text-secondary-700 text-lg">Aliquam eget semper mi. Mauris magna risus, viverra in nulla id, placerat fermentum tellus. Aliquam non felis eu dui fermentum auctor. Aenean sed ante congue, facilisis ipsum eu, gravida lacus.</p>
            </div>
            <img src="/images/placeholder/undraw_true_friends_c94g.svg" class="md:w-1/3">
        </div>
        <div class="js-show-on-scroll flex flex-col md:flex-row items-center">
            <img src="/images/placeholder/undraw_toy_car_7umw.svg" class="md:w-1/3">
            <div class="md:ml-16 xl:ml-32">
                <h4 class="text-2xl md:text-3xl font-bold text-secondary-800 mb-4">Mauris magna risus, viverra in nulla id</h4>
                <p class="text-secondary-700 text-lg mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam imperdiet est tellus, et consequat sem sodales id. Quisque molestie et mauris efficitur lacinia.</p>
                <p class="text-secondary-700 text-lg">Aliquam eget semper mi. Mauris magna risus, viverra in nulla id, placerat fermentum tellus. Aliquam non felis eu dui fermentum auctor. Aenean sed ante congue, facilisis ipsum eu, gravida lacus.</p>
            </div>
        </div>
    </div>
</div>