{# data id:sitemenu src: sitemenu.json #}
{% extends "base.twig" %}
{% block content %}
    <div class="relative">
        <div class="flex items-center justify-center h-screen"  >
           Scroll Down For Some Lottie Animation
        </div>
    </div>
    <div class="relative overflow-hidden px-6 pb-6">
        <div class="container mx-auto relative max-w-5xl" id="lottieContainer">
            {% include "_sections/lottie-2.twig" %}
            {% include "_sections/lottie-1.twig" %}
        </div>
    </div>
{% endblock %}