{# data id:sitemenu src: sitemenu.json #}
{% extends "base.twig" %}
{% block content %}
    <div class="relative overflow-hidden">
        <div class="container mx-auto relative px-4">
            {% set sections = listAllSections() %}

            <p>The following sections have been found in the "views/_sections" directory.</p>


            {% for i in sections %}


                <h2 class="bg-gray-200 p-2 my-4">{{ i }}</h2>
                {% set pg = '_sections/' ~ i ~ '.twig'  %}
                {% include pg %}
            {% endfor %}
        </div>
    </div>
{% endblock %}