<!-- component -->
<div class="flex  h-screen lg:border-l">
    <div class='flex   w-full  bg-white overflow-hidden mx-auto flex flex-col p-5'>
        <h3 class="text-2xl font-bold mb-4">Search</h3>
        <!-- This is the input component -->
        <div class="relative h-10 input-component mb-5">
            <input
                    id="name"
                    type="text"
                    name="name"
                    class="h-full w-full border-gray-300 px-2 transition-all border-blue rounded-sm"
            />
            <label for="name" class="absolute left-2 transition-all bg-white px-1">
                Search
            </label>
        </div>
        <!-- This is the input component -->
        <div class="relative input-component mb-5">
            <select name="agelevel"
                    class="w-full h-10 pl-3 pr-6 text-base placeholder-gray-600 border rounded-lg appearance-none focus:shadow-outline">
                <option value="" selected="">- Year level</option>
                <option value="Early Childhood (F-3)">Early Childhood (F-3)</option>
                <option value="Middle Primary (4-5)">Middle Primary (4-5)</option>
                <option value="Middle Years (5-9)">Middle Years (5-9)</option>
                <option value="Senior Secondary and Tertiary">Senior Secondary and Tertiary</option>
            </select>
        </div>
        <!-- This is the input component -->
        <div class="relative input-component mb-5">
            <select name="agelevel"
                    class="w-full h-10 pl-3 pr-6 text-base placeholder-gray-600 border rounded-lg appearance-none focus:shadow-outline">
                <option value="" selected="">- Curriculum Area</option>
                <option value="Aboriginal and Torres Strait Islander Histories and Cultures">Aboriginal and Torres
                    Strait Islander Histories and Cultures
                </option>
                <option value="Asia and Australia's Engagement With Asia">Asia and Australia's Engagement With Asia
                </option>
                <option value="Chinese">Chinese</option>
                <option value="Civics and Citizenship">Civics and Citizenship</option>
                <option value="Critical and Creative Thinking">Critical and Creative Thinking</option>
                <option value="Dance (The Arts)">Dance (The Arts)</option>
                <option value="Design and Technologies">Design and Technologies</option>
                <option value="Digital Technologies">Digital Technologies</option>
                <option value="Drama (The Arts)">Drama (The Arts)</option>
                <option value="Economics and Business ">Economics and Business</option>
                <option value="English">English</option>
                <option value="Ethical Understanding">Ethical Understanding</option>
                <option value="Framework for Aboriginal Languages and Torres Strait Islander Languages">Framework for
                    Aboriginal Languages and Torres Strait Islander Languages
                </option>
                <option value="Geography">Geography</option>
                <option value="Health and Physical Education">Health and Physical Education</option>
                <option value="History">History</option>
                <option value="Humanities and Social Sciences">Humanities and Social Sciences</option>
                <option value="Information and Communication Technology (ICT) Capability">Information and Communication
                    Technology (ICT) Capability
                </option>
                <option value="Intercultural Understanding">Intercultural Understanding</option>
                <option value="Japanese">Japanese</option>
                <option value="Literacy">Literacy</option>
                <option value="Media Arts (The Arts)">Media Arts (The Arts)</option>
                <option value="Music (The Arts)">Music (The Arts)</option>
                <option value="Numeracy">Numeracy</option>
                <option value="Personal and Social Capability">Personal and Social Capability</option>
                <option value="Science">Science</option>
                <option value="Visual Arts (The Arts) ">Visual Arts (The Arts)</option>
            </select>
        </div>

        <div class="relative input-component mb-5">
            <select name="agelevel"
                    class="w-full h-10 pl-3 pr-6 text-base placeholder-gray-600 border rounded-lg appearance-none focus:shadow-outline">
                <option value="" selected="">- Themes</option>
                <option value="Early Childhood (F-3)">Early Childhood (F-3)</option>
                <option value="Middle Primary (4-5)">Middle Primary (4-5)</option>
                <option value="Middle Years (5-9)">Middle Years (5-9)</option>
                <option value="Senior Secondary and Tertiary">Senior Secondary and Tertiary</option>
            </select>
        </div>

    </div>
</div>
